extends layout

block head
    script(data-main='paper_battle', type='text/javascript', src='libs/require-2.1.0.js')

block body
    #header
        span.author By Oliver Perez

        span.tittle Paper Battle

        span.ping Ping: 
            span.value 0
            | ms

    #screen.select-dissabled
        span.name
        .life
        .cooldown

        .pos
            span x: 
            span.x 0
            span , y: 
            span.y 0